body {
	background-color: black;
	color: white;
	font-family: Montserrat, sans-serif;
}
a {
	color: paleturquoise;
}
.applogo {
	width: 32px;
	height: 32px;
}

.playerheadshot {
	max-width: 200px;
	height: auto;
}

