{% extends "specific_page.html" %}	
	
{% block specifics %}
	<h1>{{ award }} {{ year }}</h1>
	<a href="{{ episode_link }}" target="_blank"><p><i>Episode link</i></p></a>
	
	
	<p><i>{{ description }}</i></p>
	
	{% for place in players %}
	<p><span class="rankingtext">{{ place.title() }}:</span> <span class="playernametext"><a href="{{ url_for('player_wins', name=players[place]['name'].replace(' ', '_')) }}">{{ players[place]['name'] }}</a></span></p>
	<p><i>{{ players[place]['team'] }}</i></p>
	<img src="{{ players[place]['headshot_url'] }}" class="playerheadshot"/>
	{% endfor %}

{% endblock %}