{% extends "base.html" %}	
	
{% block content %}
	<h1>{{ award }} {{ year }}</h1>
	
	
	<p><i>{{ description }}</i></p>
	
	<h2>Winner: {{ first['name'] }}</h2>
	<p><i>{{ first['team'] }}</i></p>
	<img src="{{ first['headshot_url'] }}" class="playerheadshot"/>
	<h3>Second Place: {{ second['name'] }}</h3>
	<p><i>{{ second['team'] }} </i></p>
	<img src="{{ second['headshot_url'] }}" class="playerheadshot"/>
	<h3>Third Place: {{ third['name'] }}</h3>
	<p><i>{{ third['team'] }} </i></p>
	<img src="{{ third['headshot_url'] }}" class="playerheadshot"/>
		
{% endblock %}